<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensional Depot: Loot Log</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<h1>Dimensional Depot</h1>

<label for="userInput">Search for items to add to your character's inventory:</label>
<input type="text" id="userInput" name="userInput">
<button id="submit">Add Item</button>

<div class="container">
    <div class="column">
      <h2>Equipment</h2>
      
      <ul id="equipment">

        <% equipment.forEach(function(equipmentData) { %>
        <li data-equipment-id="<%= equipmentData._id %>">
          <div class="equipment-item">
            <div class="equipment-item-header">
              <strong>Name:</strong> <%= equipmentData.name %><br>
            </div>
            <button class="see-more-button">See More</button>
            <div class="item-description hidden">
              <!-- Display Equipment Details -->
              <% if (equipmentData.equipmentCategory !== '') { %>
                <strong>Equipment Category:</strong> <%= equipmentData.equipmentCategory %><br>
                <% } %>
                
              <% if (equipmentData.category !== '') { %>
              <strong>Weapon Category:</strong> <%= equipmentData.category %><br>
              <% } %>

              <% if (equipmentData.rarity && equipmentData.rarity !== '') { %>
              <strong>Rarity:</strong> <%= equipmentData.rarity %><br>
              <% } %>
              
              <% if (equipmentData.requiresAttunement !== undefined) { %>
              <strong>Requires Attunement:</strong> <%= equipmentData.requiresAttunement ? 'Yes' : 'No' %><br>
              <% } %>

              <% if (equipmentData.damage_dice && equipmentData.damage_type_name && equipmentData.damage_dice !== '' && equipmentData.damage_type_name !== '') { %>
              <strong>Damage / Type:</strong> <%= equipmentData.damage_dice %> <%= equipmentData.damage_type_name %><br>
              <% } %>
  
              <% if (equipmentData.two_handed_damage_dice && equipmentData.two_handed_damage_dice !== '') { %>
                <strong>Two-Handed Damage:</strong> <%= equipmentData.two_handed_damage_dice %><br>
              <% } %>             
  
              <% if (equipmentData.range_normal && equipmentData.range_normal !== '') { %>
              <strong>Range:</strong> <%= equipmentData.range_normal %><br>
              <% } %>
  
              <% if (equipmentData.throw_range_normal && equipmentData.throw_range_long && equipmentData.throw_range_normal !== '' && equipmentData.throw_range_long !== '') { %>
              <strong>Throw Range:</strong> Normal: <%= equipmentData.throw_range_normal %>, Long: <%= equipmentData.throw_range_long %><br>
              <% } %>
  
              <% if (equipmentData.properties && equipmentData.properties.length > 0 && equipmentData.properties[0] !== '') { %>
              <strong>Properties:</strong> <%= equipmentData.properties.join(', ') %><br>
              <% } %>
  
              <% if (equipmentData.cost_quantity !== '' && equipmentData.cost_unit !== '') { %>
              <strong>Cost:</strong> <%= equipmentData.cost_quantity %> <%= equipmentData.cost_unit %><br>
              <% } %>
  
              <% if (equipmentData.weight && equipmentData.weight !== '') { %>
                <strong>Weight:</strong> <%= equipmentData.weight %><br>
              <% } %>
  
              <% if (equipmentData.desc && equipmentData.desc.length > 0 && equipmentData.desc[0] !== '') { %>
              <strong>Description:</strong> <%= equipmentData.desc.join('<br>') %><br>
              <% } %>
            </div>
          </div>
        </li>
        

        <!--update equipment form-->
        <form id="updateForm-<%= equipmentData._id %>" class="update-form" style="display: none;">
          <label for="update-name-<%= equipmentData._id %>">Name:</label>
          <input type="text" id="update-name-<%= equipmentData._id %>" name="name" value="<%= equipmentData.name %>" placeholder="Name"><br><br>
          
          <label for="category-<%= equipmentData._id %>">Category:</label>
          <input type="text" id="category-<%= equipmentData._id %>" name="category" value="<%= equipmentData.category %>" placeholder="Category"><br><br>
        
          <label for="rarity-<%= equipmentData._id %>">Rarity:</label>
          <input type="text" id="rarity-<%= equipmentData._id %>" name="rarity" value="<%= equipmentData.rarity %>" placeholder="Rarity"><br><br>
        
          <label for="requiresAttunement-<%= equipmentData._id %>">Requires Attunement:</label>
          <input type="checkbox" id="requiresAttunement-<%= equipmentData._id %>" name="requiresAttunement" <% if (equipmentData.requiresAttunement) { %> checked <% } %> value="true"><br><br>        
        
          <label for="damage_dice-<%= equipmentData._id %>">Damage Dice:</label>
          <input type="text" id="damage_dice-<%= equipmentData._id %>" name="damage_dice" value="<%= equipmentData.damage_dice %>" placeholder="Damage Dice"><br><br>
        
          <label for="damage_type_name-<%= equipmentData._id %>">Damage Type:</label>
          <input type="text" id="damage_type_name-<%= equipmentData._id %>" name="damage_type_name" value="<%= equipmentData.damage_type_name %>" placeholder="Damage Type"><br><br>
        
          <label for="two_handed_damage_dice-<%= equipmentData._id %>">Two-Handed Damage Dice:</label>
          <input type="text" id="two_handed_damage_dice-<%= equipmentData._id %>" name="two_handed_damage_dice" value="<%= equipmentData.two_handed_damage_dice %>" placeholder="Two-Handed Damage Dice"><br><br>
        
          <label for="two_handed_damage_type_name-<%= equipmentData._id %>">Two-Handed Damage Type:</label>
          <input type="text" id="two_handed_damage_type_name-<%= equipmentData._id %>" name="two_handed_damage_type_name" value="<%= equipmentData.two_handed_damage_type_name %>" placeholder="Two-Handed Damage Type"><br><br>
        
          <label for="range_normal-<%= equipmentData._id %>">Range (Normal):</label>
          <input type="number" id="range_normal-<%= equipmentData._id %>" name="range_normal" value="<%= equipmentData.range_normal %>" placeholder="Range (Normal)"><br><br>
        
          <label for="range_long-<%= equipmentData._id %>">Range (Long):</label>
          <input type="number" id="range_long-<%= equipmentData._id %>" name="range_long" value="<%= equipmentData.range_long %>" placeholder="Range (Long)"><br><br>
        
          <label for="throw_range_normal-<%= equipmentData._id %>">Throw Range (Normal):</label>
          <input type="number" id="throw_range_normal-<%= equipmentData._id %>" name="throw_range_normal" value="<%= equipmentData.throw_range_normal %>" placeholder="Throw Range (Normal)"><br><br>
        
          <label for="throw_range_long-<%= equipmentData._id %>">Throw Range (Long):</label>
          <input type="number" id="throw_range_long-<%= equipmentData._id %>" name="throw_range_long" value="<%= equipmentData.throw_range_long %>" placeholder="Throw Range (Long)"><br><br>
        
          <label for="properties-<%= equipmentData._id %>">Properties:</label>
          <input type="text" id="properties-<%= equipmentData._id %>" name="properties" value="<%= equipmentData.properties %>" placeholder="Properties"><br><br>
        
          <label for="equipmentCategory-<%= equipmentData._id %>">Equipment Category:</label>
          <input type="text" id="equipmentCategory-<%= equipmentData._id %>" name="equipmentCategory" value="<%= equipmentData.equipmentCategory %>" placeholder="Equipment Category"><br><br>
        
          <label for="weight-<%= equipmentData._id %>">Weight:</label>
          <input type="number" id="weight-<%= equipmentData._id %>" name="weight" value="<%= equipmentData.weight %>" placeholder="Weight"><br><br>
        
          <label for="cost_quantity-<%= equipmentData._id %>">Cost Quantity:</label>
          <input type="text" id="cost_quantity-<%= equipmentData._id %>" name="cost_quantity" value="<%= equipmentData.cost_quantity %>" placeholder="Cost Quantity"><br><br>
        
          <label for="cost_unit-<%= equipmentData._id %>">Cost Unit:</label>
          <input type="text" id="cost_unit-<%= equipmentData._id %>" name="cost_unit" value="<%= equipmentData.cost_unit %>" placeholder="Cost Unit"><br><br>
        
          <label for="desc-<%= equipmentData._id %>">Description:</label>
          <input type="text" id="desc-<%= equipmentData._id %>" name="desc" value="<%= equipmentData.desc %>" placeholder="Description"><br><br>
        
          <input type="submit" id="saveButton-<%= equipmentData._id %>" value="Save Edit" style="display: none;">
        </form>

        <button id="updateButton-<%= equipmentData._id %>" class="update-button" onclick="handleUpdateButtonClick('<%= equipmentData._id %>')">Update</button>
        <button class="delete-button" onclick="deleteEquipment('<%= equipmentData._id %>')">Delete</button>
        <% }) %>
      </ul>
    </div>
  </div>  


  <% fetchedEquipment.forEach(function(fetchedEquipmentData) { %>
    <!-- Render fetched equipment -->
    <li data-equipment-id="<%= fetchedEquipmentData._id %>">
      <div class="equipment-item">
        <div class="equipment-item-header">
          <strong>Name:</strong> <%= fetchedEquipmentData.name %><br>
          <button class="see-more-button">See More</button>
          <button class="delete-button" fetched-data-equipment-id="<%= fetchedEquipmentData._id %>">Delete</button> <!-- Added delete button -->
          <div class="item-description hidden">
            <% if (fetchedEquipmentData.equipment_category !== '') { %>
              <strong>Equipment Type:</strong> <%= fetchedEquipmentData.equipment_category.name %><br>
            <% } %>

            <% if (fetchedEquipmentData.category_range !== '') { %>
              <strong>Weapon Category:</strong> <%= fetchedEquipmentData.category_range %><br>
            <% } %>

            <% if (fetchedEquipmentData.damage.damage_dice && fetchedEquipmentData.damage.damage_type.name && fetchedEquipmentData.damage.damage_dice !== '' && fetchedEquipmentData.damage.damage_type.name !== '') { %>
              <strong>Damage / Type:</strong> <%= fetchedEquipmentData.damage.damage_dice %> <%= fetchedEquipmentData.damage.damage_type.name %><br>
            <% } %>

            <% if (fetchedEquipmentData.two_handed_damage && fetchedEquipmentData.two_handed_damage.damage_dice && fetchedEquipmentData.two_handed_damage.damage_type && fetchedEquipmentData.two_handed_damage.damage_type.name) { %>
            <strong>Two-Handed Damage:</strong> <%= fetchedEquipmentData.two_handed_damage.damage_dice %> <%= fetchedEquipmentData.two_handed_damage.damage_type.name %><br>
            <% } %>
            
            <% if (fetchedEquipmentData.range.normal !== null) { %>
              <strong>Range:</strong> <%= fetchedEquipmentData.range.normal %><br>
            <% } %>

            <% if (fetchedEquipmentData.throwRange.normal !== null && fetchedEquipmentData.throwRange.long !== null) { %>
              <strong>Throw Range:</strong> Normal: <%= fetchedEquipmentData.throwRange.normal %>, Long: <%= fetchedEquipmentData.throwRange.long %><br>
            <% } %>

            <% if (fetchedEquipmentData.properties && fetchedEquipmentData.properties.length > 0) { %>
              <strong>Properties:</strong> <%= fetchedEquipmentData.properties.map(function(property) { return property.name; }).join(', ') %><br>
            <% } %>

            <% if (fetchedEquipmentData.cost.quantity !== null && fetchedEquipmentData.cost.unit !== '') { %>
              <strong>Cost:</strong> <%= fetchedEquipmentData.cost.quantity %> <%= fetchedEquipmentData.cost.unit %><br>
            <% } %>

            <% if (fetchedEquipmentData.weight !== null) { %>
              <strong>Weight:</strong> <%= fetchedEquipmentData.weight %><br>
            <% } %>

            <% if (fetchedEquipmentData.desc && fetchedEquipmentData.desc.length > 0) { %>
              <strong>Description:</strong> <%= fetchedEquipmentData.desc.join('<br>') %><br>
            <% } %>
          </div>
        </div>
      </div>
    </li>
  <% }) %>

  <!-- Render magic items -->
<% magicItems.forEach(function(magicItem) { %>
  <li data-equipment-id="<%= magicItem._id %>">
    <div class="magic-item">
      <div class="magic-item-header">
        <strong>Name:</strong> <%= magicItem.name %><br>
        <button class="see-more-button">See More</button>
        <button id="magic-item-delete-btn" data-magic-item-id="<%= magicItem._id %>">Delete</button>
        <div class="item-description hidden">
          <% if (magicItem.desc && magicItem.desc.length > 0) { %>
            <strong>Description:</strong>
            <% magicItem.desc.forEach(function(description) { %>
              <%= description %><br>
            <% }) %>
          <% } %>
          <% if (magicItem.equipment_category && magicItem.equipment_category.name) { %>
            <strong>Equipment Category:</strong> <%= magicItem.equipment_category.name %><br>
          <% } %>
          <% if (magicItem.rarity && magicItem.rarity.name) { %>
            <strong>Rarity:</strong> <%= magicItem.rarity.name %><br>
          <% } %>
        </div>
      </div>
    </div>
  </li>
<% }) %>
  
  
<!-- Create Equipment Form -->
<div class="section">
  <div class="section-header" onclick="toggleForm()">Can't find an item? Create one here!</div>
  <form id="equipmentForm" action="/equipment" method="POST" class="section-content hidden" onsubmit="handleEquipmentFormSubmit(event)">
      <!-- Equipment Fields -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Name"><br><br>
  
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" placeholder="Category"><br><br>

      <label for="rarity">Rarity:</label>
      <input type="text" id="rarity" name="rarity" placeholder="Rarity"><br><br>
  
      <label for="requiresAttunement">Requires Attunement:</label>
      <input type="checkbox" id="requiresAttunement" name="requiresAttunement"><br><br>
  
      <label for="damage_dice">Damage Dice:</label>
      <input type="text" id="damage_dice" name="damage_dice" placeholder="Damage Dice"><br><br>

      <label for="damage_type_name">Damage Type:</label>
      <input type="text" id="damage_type_name" name="damage_type_name" placeholder="Damage Type"><br><br>

      <label for="two_handed_damage_dice">Two-Handed Damage Dice:</label>
      <input type="text" id="two_handed_damage_dice" name="two_handed_damage_dice" placeholder="Two-Handed Damage Dice"><br><br>

      <label for="two_handed_damage_type_name">Two-Handed Damage Type:</label>
      <input type="text" id="two_handed_damage_type_name" name="two_handed_damage_type_name" placeholder="Two-Handed Damage Type"><br><br>

      <label for="range_normal">Range (Normal):</label>
      <input type="number" id="range_normal" name="range_normal" placeholder="Range (Normal)"><br><br>

      <label for="range_long">Range (Long):</label>
      <input type="number" id="range_long" name="range_long" placeholder="Range (Long)"><br><br>

      <label for="throw_range_normal">Throw Range (Normal):</label>
      <input type="number" id="throw_range_normal" name="throw_range_normal" placeholder="Throw Range (Normal)"><br><br>

      <label for="throw_range_long">Throw Range (Long):</label>
      <input type="number" id="throw_range_long" name="throw_range_long" placeholder="Throw Range (Long)"><br><br>

      <label for="properties">Properties:</label>
      <input type="text" id="properties" name="properties" placeholder="Properties"><br><br>

      <label for="equipmentCategory">Equipment Category:</label>
      <input type="text" id="equipmentCategory" name="equipmentCategory" placeholder="Equipment Category"><br><br>

      <label for="weight">Weight:</label>
      <input type="number" id="weight" name="weight" placeholder="Weight"><br><br>

      <label for="cost_quantity">Cost Quantity:</label>
      <input type="number" id="cost_quantity" name="cost_quantity" placeholder="Cost"><br><br>

      <label for="cost_unit">Cost Unit:</label>
      <input type="text" id="cost_unit" name="cost_unit" placeholder="Cost Unit"><br><br>

      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc" placeholder="Description"><br><br>
        
      <input type="submit" value="Create">
    </form>
  </div>
  


<!-- JavaScript -->
    <script src="/js/main.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>