<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensional Depot: Loot Log</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<h1>Dimensional Depot</h1>

<div class="container">
    <div class="column">
      <h2>Equipment</h2>
      <ul id="equipment">
        <% equipment.forEach(function(equipmentData) { %>
        <li>
          <div class="equipment-item">
            <div class="equipment-item-header">
              <strong>Name:</strong> <%= equipmentData.name %><br>
            </div>

            <button class="see-more-button">See More</button>
            <!-- Delete Button -->
            <form action="/equipment/<%= equipmentData._id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete-button" data-equipment-id="<%= equipmentData._id %>">Delete</button>
            </form>
            <div class="item-description hidden">
              <!-- Display Equipment Details -->
              <% if (equipmentData.damage_dice && equipmentData.damage_type_name && equipmentData.damage_dice !== '' && equipmentData.damage_type_name !== '') { %>
              <strong>Damage / Type:</strong> <%= equipmentData.damage_dice %> <%= equipmentData.damage_type_name %><br>
              <% } %>
  
              <% if (equipmentData.two_handed_damage_dice && equipmentData.two_handed_damage_dice !== '') { %>
              <strong>Two-Handed Damage:</strong> <%= equipmentData.two_handed_damage_dice %><br>
              <% } %>
  
              <% if (equipmentData.range_normal && equipmentData.range_normal !== '') { %>
              <strong>Range:</strong> <%= equipmentData.range_normal %><br>
              <% } %>
  
              <% if (equipmentData.throw_range_normal && equipmentData.throw_range_long && equipmentData.throw_range_normal !== '' && equipmentData.throw_range_long !== '') { %>
              <strong>Throw Range:</strong> Normal: <%= equipmentData.throw_range_normal %>, Long: <%= equipmentData.throw_range_long %><br>
              <% } %>
  
              <% if (equipmentData.category !== '') { %>
              <strong>Weapon Category:</strong> <%= equipmentData.category %><br>
              <% } %>
  
              <% if (equipmentData.properties && equipmentData.properties.length > 0 && equipmentData.properties[0] !== '') { %>
              <strong>Properties:</strong> <%= equipmentData.properties.join(', ') %><br>
              <% } %>
  
              <% if (equipmentData.equipmentCategory !== '') { %>
              <strong>Equipment Category:</strong> <%= equipmentData.equipmentCategory %><br>
              <% } %>
  
              <% if (equipmentData.cost_quantity !== '' && equipmentData.cost_unit !== '') { %>
              <strong>Cost:</strong> <%= equipmentData.cost_quantity %> <%= equipmentData.cost_unit %><br>
              <% } %>
  
              <% if (equipmentData.weight !== '') { %>
              <strong>Weight:</strong> <%= equipmentData.weight %><br>
              <% } %>
  
              <% if (equipmentData.desc && equipmentData.desc.length > 0 && equipmentData.desc[0] !== '') { %>
              <strong>Description:</strong> <%= equipmentData.desc.join('<br>') %><br>
              <% } %>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>  
  
<!-- Create Equipment Form -->
<div class="section">
    <div class="section-header" onclick="toggleForm()">Click here to create a non-magical item</div>
    <form id="equipmentForm" action="/equipment" method="POST" class="section-content" style="display: none;">
      <!-- Equipment Fields -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
  
      <label for="category">Category:</label>
      <input type="text" id="category" name="category"><br><br>
  
      <label for="damage_dice">Damage Dice:</label>
      <input type="text" id="damage_dice" name="damage_dice"><br><br>
  
      <label for="damage_type_name">Damage Type:</label>
      <input type="text" id="damage_type_name" name="damage_type_name"><br><br>
  
      <label for="two_handed_damage_dice">Two-Handed Damage Dice:</label>
      <input type="text" id="two_handed_damage_dice" name="two_handed_damage_dice"><br><br>
  
      <label for="two_handed_damage_type_name">Two-Handed Damage Type:</label>
      <input type="text" id="two_handed_damage_type_name" name="two_handed_damage_type_name"><br><br>
  
      <label for="range_normal">Range (Normal):</label>
      <input type="number" id="range_normal" name="range_normal"><br><br>
  
      <label for="range_long">Range (Long):</label>
      <input type="number" id="range_long" name="range_long"><br><br>
  
      <label for="throw_range_normal">Throw Range (Normal):</label>
      <input type="number" id="throw_range_normal" name="throw_range_normal"><br><br>
  
      <label for="throw_range_long">Throw Range (Long):</label>
      <input type="number" id="throw_range_long" name="throw_range_long"><br><br>
  
      <label for="properties">Properties:</label>
      <input type="text" id="properties" name="properties"><br><br>
  
      <label for="equipmentCategory">Equipment Category:</label>
      <input type="text" id="equipmentCategory" name="equipmentCategory"><br><br>
  
      <label for="weight">Weight:</label>
      <input type="text" id="weight" name="weight"><br><br>
  
      <label for="cost_quantity">Cost Quantity:</label>
      <input type="text" id="cost_quantity" name="cost_quantity"><br><br>
  
      <label for="cost_unit">Cost Unit:</label>
      <input type="text" id="cost_unit" name="cost_unit"><br><br>
  
      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc"><br><br>
  
      <input type="submit" value="Create">
    </form>
  </div>
  


<!-- JavaScript -->
    <script src="/js/main.js"></script>
</body>
</html>
