<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensional Depot: Loot Log</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h1>Dimensional Depot</h1>

    <label for="userInput">Search for items to add to your character's inventory:</label>
    <input type="text" id="userInput" name="userInput">
    <button id="submit">Add Item</button>

    <div class="container">
        <div class="column">
            <h2>Equipment</h2>
            <ul id="equipment">
                <% equipment.forEach(function(equipmentData) { %>
                <li>
                    <div class="equipment-item">
                        <div class="equipment-item-header">
                            <strong>Name:</strong> <%= equipmentData.name %><br>
                        </div>
                        <div class="equipment-item-description hidden">
                            <strong>Damage / Type:</strong> <%= equipmentData.damage ? equipmentData.damage.damage_dice : 'N/A' %> <%= equipmentData.damage ? equipmentData.damage.damage_type.name : '' %><br>
                            <% if (equipmentData.two_handed_damage) { %>
                            <strong>Two-Handed Damage:</strong> <%= equipmentData.two_handed_damage.damage_dice %><br>
                            <% } %>
                            <strong>Range:</strong> Normal: <%= equipmentData.range ? equipmentData.range.normal : 'N/A' %><br>
                            <% if (equipmentData.throw_range) { %>
                            <strong>Throw Range:</strong> Normal: <%= equipmentData.throw_range.normal %>, Long: <%= equipmentData.throw_range.long %><br>
                            <% } %>
                            <strong>Weapon Category:</strong> <%= equipmentData.category_range %><br>
                            <strong>Properties:</strong> <%= equipmentData.properties ? equipmentData.properties.join(', ') : 'N/A' %><br>
                            <strong>Equipment Category:</strong> <%= equipmentData.equipment_category ? equipmentData.equipment_category.name : 'N/A' %><br>
                            <strong>Cost:</strong> <%= equipmentData.cost.quantity %> <%= equipmentData.cost.unit %><br>
                            <strong>Weight:</strong> <%= equipmentData.weight %><br>
                            <% if (equipmentData.desc) { %>
                            <strong>Description:</strong> <%= equipmentData.desc.join('<br>') %><br>
                            <% } %>
                        </div>
                        <button class="see-more-button">See More</button>
                        <button class="delete-button" data-id="<%= equipmentData._id %>">Delete Item</button> <!-- Add delete button with data-id attribute -->
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>

        <script src="/js/main.js"></script>
</body>
</html>
